body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
#canvas-container {
    width: 100%;
    height: 100%;
}
canvas {
    display: block;
    width: 100%;
    height: 100%;
}
#info-container {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 100;
    pointer-events: none; /* Tambahkan ini */
}
